<section class='section'>
  <button class='button is-primary is-fullwidth is-large is-outlined block'>
    Choose Random Quiz
  </button>

  <div class='columns is-multiline is-mobile'>
    <% quizzes.each do |quiz| %>
      <div class='card column is-half block'>
        <header class='card-header'>
          <button class='button is-info is-fullwidth is-large'>
            <%= quiz.name %>
          </button>
        </header>
        <div class='card-content'>
          <p class='content'>
            <%= quiz.description %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</section>